<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>Login</title>    
    <link href="login.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js" ></script>
    <script src="../libs/js/jquery.min.js" ></script>
    <script src="login.js"></script>
  </head>
  <body ng-app="login" ng-controller="MainCtrl">  
  <!-- Form to get username & Password -->
   <form>
      <div id='main'>
      <h3>Login</h3>
      <div id="inner-div">
      <label>Username </label><input type="text" ng-model="username" /></br></br>
      <label></label>Password </label><input type="password" ng-model="password"></br></br>
      <button id='submit' type="submit" ng-click="submit()">login</button>
      </div>
      </div>
  </form>
</body>
</html>