body
{
 background-color: #fefff8;
}

#main
{
 text-align:center;  
 width: 50%;
 margin-left: 300px;
}

#inner-div
{
 /*text-align: left;
 margin-left: 400px;
 margin-top: 100px; 
 */
 color: #6b6a66;
 font-family: Helvetica, Times, serif;
 font-size: 17px;
}

#inner-div h2
{
 font-family: "Verdana", Times, serif;
 font-size: 30px;
 /*font-style: oblique;*/
 font-weight: normal;
}

#firstname
{
 color:#dfb551;
}
i.fa.fa-home.fa-lg
{
 font-size: 1.70em;
}

.nav-bar
{
 margin-right: 300px;
}

.nav-bar a
{
width: 50px;
height: 50px;
}

#content
{
margin-top: 20px;
font-size: 18px;
font-family: Times;

}


@media only screen and (max-width: 1024px)
{

#main
{
 text-align:center;  
 width: 50%;
 margin-left: 200px;
}

#inner-div
{
 /*text-align: left;
 margin-left: 10px;
 margin-top: 100px;*/
 
 font-family: "Verdana", Times, serif;
 font-size: 15px;
 font-style: normal;
}


#content
{
margin-top: 20px;
font-size: 12px;
font-family: Times;

}
.nav-bar
{
margin-right: 0;
}
}